<div class="temperature">
    <% if (sensorData) { %>
        <span id="time-take-tempareture-data">
            <%= sensorData.temparetureData.time %>
        </span>
    <% } %>
    <div class="container">
        <div class="propress">
            <div class="container-propress">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle class="sensor-circle" id="propressTemp" cx="70" cy="70" r="70" <% if (sensorData) { %>
                        stroke-dashoffset=<% } %>
                            <%=440-(sensorData.temparetureData.data * 440) / 100%>></circle>
                </svg>
                <% if (sensorData) { %>
                    <span id="propress-bar-temp-value">
                        <%= sensorData.temparetureData.data %>ºC
                    </span>
                    <% } %>
            </div>
            <h3>Nhiệt độ bên trong nhà rau</h3>
        </div>
        <div class="propress">
            <div class="container-propress">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle class="sensor-circle" id="propressTemp1" cx="70" cy="70" r="70" <% if (dataApi) { %>
                        stroke-dashoffset=<% } %>
                            <%=440-((dataApi.temp) * 440) / 100%>></circle>
                </svg>
                <% if (dataApi) { %>
                    <span id="propress-bar-temp1-value">
                        <%= dataApi.temp %>ºC
                    </span>
                    <% } %>
            </div>
            <h3>Nhiệt độ bên ngoài trời</h3>
        </div>
    </div>
</div>
<div class="humidity">
    <% if (sensorData) { %>
        <span id="time-take-humidity-data">
            <%= sensorData.humidityData.time %>
        </span>
    <% } %>
    <div class="container">
        <div class="propress">
            <div class="container-propress">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle class="sensor-circle" id="propressHumi" cx="70" cy="70" r="70" <% if (sensorData) { %>
                        stroke-dashoffset=<% } %>
                            <%=440-(sensorData.humidityData.data * 440) / 100%>></circle>
                </svg>
                <% if (sensorData) { %>
                    <span id="propress-bar-humi-value">
                        <%= sensorData.humidityData.data %>%
                    </span>
                    <% } %>
            </div>
            <h3>Độ ẩm bên trong nhà rau</h3>
        </div>
        <div class="propress">
            <div class="container-propress">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle class="sensor-circle" id="propressHumi1" cx="70" cy="70" r="70" <% if (dataApi) { %>
                        stroke-dashoffset=<% } %>
                            <%=440-(dataApi.humidity * 440) / 100%>></circle>
                </svg>
                <% if (dataApi) { %>
                    <span id="propress-bar-humi1-value">
                        <%= dataApi.humidity %>%
                    </span>
                    <% } %>
            </div>
            <h3>Độ ẩm bên ngoài nhà rau</h3>
        </div>
    </div>
</div>
<div class="light">
    <% if (sensorData) { %>
        <span id="time-take-light-data">
            <%= sensorData.lightData.time %>
        </span>
    <% } %>
    <div class="container">
        <div class="propress">
            <div class="container-propress">
                <svg>
                    <circle cx="70" cy="70" r="70"></circle>
                    <circle class="sensor-circle" id="propressLux" cx="70" cy="70" r="70" <% if (sensorData) { %>
                        stroke-dashoffset=<% } %>
                            <%=440 - ((sensorData.lightData.data * 100) / 65535 * 440) / 100%>></circle>
                </svg>
                <% if (sensorData) { %>
                    <span id="propress-bar-lux-value">
                        <%= sensorData.lightData.data %>Lux
                    </span>
                    <% } %>
            </div>
            <h3>Ánh sáng</h3>
        </div>
    </div>
    
</div>